# ===[ APP ]=== #

# ===[ PYTHON PACKAGE ]=== #
/.tox/
/build/
/dist/
/MANIFEST
/*.egg-info/
/*.egg/

# ===[ OTHER ]=== #

# IDE Projects
.idea
.nbproject
.project
*.sublime-project

# Temps
*~
*.tmp
*.bak
*.swp
*.kate-swp
*.DS_Store
Thumbs.db

# Utils
.sass-cache/
.coverage

# Generated
__pycache__
*.py[cod]
*.pot
*.mo

# Runtime
/*.log
/*.pid

# ===[ EXCLUDES ]=== #
!.gitkeep
!.htaccess


# Build artifacts
channel
branch
buildnum
build_trigger_number
win-*/
linux-*/
htmlcov/
coverage.xml

# Sonar
.scannerwork/

# Editors: VSCode Idea
.idea/
.vscode/
.vs/

# Vagrant
.vagrant/

# mypy
.mypy_cache/
